#wp_menu_customizer_menu_list li {
    background: white;
    padding: 20px;
    width: 300px;
    height: 20px;
    position: relative;
    display: block;
}

#wp_menu_customizer_menu_list li h2 {
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
    display: block;
}

#wp_menu_customizer_menu_list li .dashicons {
    margin: 0;
    padding: 0;
    float: right;
    position: relative;
    display: block;
}

#wpcus_user_permissions .user-roles-container {

}

#wpcus_user_permissions .user-roles-container .user-roles-title,
#wpcus_menu_items .menu-items-container .menu-items-title{
    border: 1px solid rgb(183, 183, 183);
    background: #fff;
    padding: 10px;
    margin: 15px 0 -1px;
    cursor: pointer;
}

#wpcus_user_permissions .user-roles-container .user-roles-body,
#wpcus_menu_items .menu-items-container .menu-items-body{
    column-count: 3;
    border: 1px solid rgb(183, 183, 183);
    background: #fff;
    padding: 10px;
    display: none;
}

#wpcus_menu_items .menu-items-container .menu-items-body .menu-items-sub-list {
    margin-left: 25px;
}